/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/
/resources/assets/
/resources/lang/
/resources/views/vendor/installer/
/config/installer.php
/app/Http/Middleware/CanInstall.php
/public/installer/
.DS_Store
app/.DS_Store
app/Http/.DS_Store
bootstrap/.DS_Store
database/.DS_Store
public/.DS_Store
resources/.DS_Store
tests/.DS_Store

/readme.md
/resources/views/vendor/flash/
/mynotes.md
/LICENSE
